.navbar-brand {
    position: relative;
    z-index: 2;

}
.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
}
.navbar .navbar-collapse {
    position: relative;
}
.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}
.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}
.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}
.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}
.navbar-inverse
{
	border-bottom: 3px rgb(230,30,35) solid;
}
.nav-collapse>li {
    float: right;
}
.btn.btn-circle {
    border-radius: 0px;
}
.btn.btn-outline {
    background-color: transparent;
}
@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }
}

/*FOOTER STYLE*/

.footer-distributed{
	background-color: rgb(34,34,34);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.mini-footer {
	width: 100%;
	border-top: #ffffff 2px solid;
}

.mini-footer .left {
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	padding-left: 50px;
	border-top: #ffffff 2px solid;
	background:  rgb(34,34,34);
}
.footer-distributed{
		border-top: 3px rgb(230,30,35) solid;
	}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
#contact_logo
{
	background: url("../pictures/contact_us.jpg"); 
	height: 200px;
	background-repeat:no-repeat;
	margin: auto;
}

#basic_div_contact
{
	background-color: rgb(230,230,230);
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 20px;
}
.contact_button
{
	background-color: transparent;
    background-repeat:no-repeat;
    border: 1px white solid;
    color:white;
    border-radius: 2px;
    width: 140px;
    height: 40px;
    margin-top: 150px;
    margin-right: 10px;

}

.contact_button:hover, .contact_button:focus, .contact_button:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

#map{
    height:315px;    
    }
#repeat{ 
     display: inline;
     }
#country_container { 
     margin: 8px 2px 2px 0px; 
     text-align: center; 
     width: 90px; 
     padding: 5px; 
     color: white; 
     background-color: gray; 
     font-size: 16px; 
     cursor: pointer;
     }
#country_container:hover { 
     box-shadow: 0px 0px 10px blue;
     background-color: gray; 
     border: 1px solid gray; 
     cursor: pointer; 
     }
#names { 
     cursor: pointer; 
       }
legend.contact {
    border-bottom: 1px rgb(62,121,68) solid;
    color: rgb(62,121,68);
}

legend.location {
    border-bottom: 1px rgb(59,89,152) solid;
    color: rgb(59,89,152);
}

/* About us page */

#aboutus {
	background-color: rgb(230,230,230);
}

.about h1 {
	border-bottom: 1px rgb(62,121,68) solid;
    color: rgb(62,121,68);
	text-align: center;
	font-family: "Lato", sans-serif;
    font-size: 78px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -0.06em;
    margin-bottom: 0.2em;
}

.about h4 {
	text-align: center;
}

.about h3 {
	text-align: center;
}

.about p {
	text-align: center;
	padding: 3% 7%;
}

.business {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.business-1 h1 {
	border-bottom: 1px rgb(59,89,152) solid;
    color: rgb(59,89,152);
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 50px;
    font-weight: normal;
    line-height: 1.1;
    letter-spacing: -0.06em;
    margin-bottom: 0.2em;
}

.business-1 h4 {
	text-align: center;	
}

.marketing-1 h1 {
	border-bottom: 1px rgb(59,89,152) solid;
    color: rgb(59,89,152);
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 50px;
    font-weight: normal;
    line-height: 1.1;
    letter-spacing: -0.06em;
    margin-bottom: 0.2em;
}

.marketing-1 h4 {
	text-align: center;
}

.panel1 {
	border-bottom: 1px rgb(59,89,152) solid;
    color: rgb(59,89,152);
	text-align: center;
	width: 100%;
 	position: relative;
 	display: inline-block;
 	margin-top: 10px;
 	margin-bottom: 10px;
 	padding: 3% 0%;
}

.panel1 .panel1-1 h4 {
	margin-top: 100px;
	font-family: "Lato", sans-serif;
	font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -0.06em;
    margin-bottom: 0.2em;
}

.panel1 .panel1-3 ul {
	margin-top: 100px;
	font-family: "Lato", sans-serif;
	font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -0.06em;
    margin-bottom: 0.2em;
}

.panel1 .panel1-3  li {
	margin-bottom: 3%;
	text-align: left;
}

.panel2 {
	border-bottom: 1px rgb(59,89,152) solid;
    color: rgb(59,89,152);
	text-align: center;
	width: 100%;
 	position: relative;
 	display: inline-block;
 	margin-top: 10px;
 	margin-bottom: 10px;
 	padding: 3% 0%;
}

.panel2 .panel2-1 h4 {
	margin-top: 100px;
	font-family: "Lato", sans-serif;
	font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -0.06em;
    margin-bottom: 0.2em;
}

.panel2 .panel2-1 span {
	color: rgb(62,121,68);
	margin-top: 100px;
	font-family: "Lato", sans-serif;
	font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -0.06em;
    margin-bottom: 0.2em;
}

.panel2 .panel2-3 ul {
	margin-top: 75px;
	font-family: "Lato", sans-serif;
	font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -0.06em;
    margin-bottom: 0.2em;

}

.panel2 .panel2-3 li {
	margin-bottom: 3%;
	text-align: left;
}

.mip {
	margin-top: 15px;
}